.app-project-card {
  &__title {
    line-height: 1.2;
    margin-top: 8px;
    margin-bottom: 12px;
  }

  &__member {
    margin: 0;
  }

  &--inline {
    display: flex;
    flex-direction: row;

    img {
      max-width: 250px;
    }

    @media (max-width: 768px) {
      img {
        max-width: 200px;
      }
    }

    @media (max-width: 455px) {
      flex-direction: column;

      img {
        max-width: 100%;
      }
    }
  }
}
